*{
    margin: 0;
    align-items: center;
}
h1{
    color: red;
    background-color: black;
    padding: 70px;
    margin: 30px 100px;
    text-align: center;

}
h2{
    color: gold;
    background-color: black;
    padding: 50px;
    margin: 30px 100px;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    border: 20px dashed navy;
    border-radius: 40px;
}
.im {
     padding: 50px;
     border: 10px dashed coral;
     text-align: center;
     margin: 0px 400px;
    

}